<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/kyle/Documents/IdeaWorkSpace/demo">
        <classes>
            <class name="com.kyle.demo.DemoApplicationTests">
                <methods>
                    <include name="contextLoads"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>